@charset "UTF-8";
@font-face {
  font-family: "MeriendaOne-Regular";
  src: url("font/MeriendaOne-Regular.ttf");
}
@-webkit-keyframes loaderAnimN {
  25% {
    transform: translate(12px, -15px);
  }
  50% {
    transform: translate(28px, 0px);
  }
  75% {
    transform: translate(14px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes loaderAnimN {
  25% {
    transform: translate(12px, -15px);
  }
  50% {
    transform: translate(28px, 0px);
  }
  75% {
    transform: translate(14px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes loaderAnimW {
  25% {
    transform: translate(-14px, 15px);
  }
  50% {
    transform: translate(-26px, 0px);
  }
  75% {
    transform: translate(-14px, -15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes loaderAnimW {
  25% {
    transform: translate(-14px, 15px);
  }
  50% {
    transform: translate(-26px, 0px);
  }
  75% {
    transform: translate(-14px, -15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animBackPic {
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes animBackPic {
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
:root {
  --lightgrey-bg: rgb(217,217,217);
  --darkgrey-bg: rgb(0,0,0);
  --verylightgrey-bg: rgb(217,217,217);
  --darkgrey2-bg: rgb(53,53,53);
  --mainnav-height: 56px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
}

.p-spacer-under {
  margin-bottom: 8px;
}

.h1-spacer-under {
  margin-bottom: 15px;
}

.Itemcenter {
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.noOpacity {
  opacity: 0;
}

.helpBtn {
  cursor: help !important;
}

.max-w-1400 {
  max-width: 1400px;
}

#loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  gap: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background: white;
}
#loader span:first-child {
  -webkit-animation: loaderAnimN 4s infinite;
          animation: loaderAnimN 4s infinite;
  transition: 1s;
}
#loader span:last-child {
  -webkit-animation: loaderAnimW 4s infinite;
          animation: loaderAnimW 4s infinite;
  transition: 1s;
}

#loader-container {
  display: flex;
  padding: 30px;
  border: solid;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  cursor: default;
  text-decoration: none;
  color: rgb(255,127,80); /* Texte en orange */
}
h1:before {
  content: "-";
  color: rgb(255,127,80);
}
h1:after {
  content: "-";
  color: rgb(255,127,80);
}

h2 {
  cursor: default;
  text-decoration: none;
}

p {
  cursor: default;
  text-decoration: none;
  margin-bottom: 0;
}

.sectionTitle {
  text-align: center; /* Centre le texte */
}
a {
  cursor: pointer;
  color: black;
}
a:hover {
  color: black;
}

.clickableBtn * {
  cursor: pointer;
}

ul {
  padding: 0;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rbg(189,234,238);
}

.screenCenterContent {
  margin: auto;
}

.clipInvertDownRectangle {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.clipRectangles {
  -webkit-clip-path: polygon(0 0, 100% 54px, 100% 100%, 0 calc(100% - 45px));
          clip-path: polygon(0 0, 100% 54px, 100% 100%, 0 calc(100% - 45px));
}

.clipUpRectangle {
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}

.photo-credit {
  display: none;
}

.spacermenu {
  height: var(--mainnav-height);
}

.h1WhiteBefAft:before {
  color: white;
}
.h1WhiteBefAft:after {
  color: white;
}

.screencontent {
  margin: 0 10px;
}

.box_style {
  background-color: var(--verylightgrey-bg);
  box-shadow: 0 0 10px 10px var(--verylightgrey-bg);
  margin: 0 10px;
}

.selected_btn {
  border-color: var(--darkgrey2-bg) !important;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in-out.fade-in-out-displayed {
  opacity: 1;
}

#dropdownLang {
  left: -100%;
}

#homeScreen {
  background: url("images/UK.png");
  background-size: cover;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center;
}
#homeContent {
  position: absolute;
  margin: 50vh auto 0 auto;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

#home_status {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  background: rgba(220, 220, 220, 0.6);
  border-radius: 15px;
  font-size: 2vw;
  padding: 5px 0;
}

#home_name {
  font-size: 5vw;
  margin-bottom: 15px;
}

#home-paralax:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 1000;
  mix-blend-mode: soft-light;
}
#home-paralax img {
  position: absolute;
  pointer-events: none;
}

#mont-blanc {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#parachutist {
  width: auto;
  height: 100px;
  left: 80%;
  top: 20%;
  -o-object-fit: contain;
     object-fit: contain;
}

#trees {
  height: auto;
  bottom: 0;
  top: auto;
  -o-object-fit: unset;
     object-fit: unset;
  left: -70px;
  width: 100%;
}

.pic_container {
  height: 300px;
  width: 200px;
  padding-left: 0px;
  padding-right: 0px;
}

.about_p {
  margin-bottom: 15px;
  font-size: 17px;
}
.about_p h3 {
  font-family: "MeriendaOne-Regular";
  font-size: 16px;
  margin-bottom: 5px;
}

li h3 {
  display: contents;
}

#aboutScreen .pic_container {
  margin: 25px 50px;
  background-color: var(--lightgrey-bg)
}

.picContent {
  position: relative;
}

#profil_pic {
  background: url("imagesCSS/me.png");
  background-size: cover;
  background-color: var(--lightgrey-bg);
  background-position: 0px;
  border: solid 2px var(--darkgrey-bg);
}

.pic_element {
  height: 300px;
  width: 200px;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

.pic_back {
  border: solid 2px black;
  transform: rotate(20deg);
  -webkit-animation: animBackPic 6s linear infinite;
          animation: animBackPic 6s linear infinite;
}

#about_p_container {
  font-size: larger;
  text-align: justify;
}

.btn_nav {
  margin-bottom: 30px;
  margin-top: 30px;
}
.btn_nav ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.btn_nav ul li {
  margin: 2px;
  cursor: pointer;
  border: solid 3px var(--darkgrey2-bg);
  border-radius: 20px;
  padding: 2px 10px;
  flex: 1 110px;
  max-width: 230px;
}

#about_languages_p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#about_languages_p > div {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
#about_languages_p p {
  font-size: 14px;
}

.flagImage {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#competencesScreen {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 60px;
}
#competencesScreen .row > div {
  margin-bottom: 20px;
}

.competencesCard {
  background: rgba(240, 240, 240, 0.8);
  border-radius: 20px;
  margin: 0px auto;
  max-width: 300px;
  padding-bottom: 1px;
}

.competencesCard-header {
  background: rgba(250, 250, 250, 0.9);
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 10px 0;
}
.competencesCard-header h2 {
  font-size: 22px;
  margin-bottom: 0;
}

.progress-bar {
  transition: 1s;
  width: 0;
  background: var(--darkgrey-bg);
  text-align: left;
  padding: 5px;
}

.progressContainer {
  position: relative;
  margin: 10px 6px;
}

.progress {
  background: transparent;
  border: solid var(--darkgrey-bg);
  height: 40px;
  font-size: 20px;
  transition: 1s;
}

.progressLabel {
  line-height: 40px;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 20px;
}

#qualifContent {
  position: relative;
  max-width: 1240px;
  width: 100%;
  margin: 30px auto 30px auto;
}
#qualifContent .qualif {
  background: var(--verylightgrey-bg);
  width: 35%;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  min-height: 230px;
}
#qualifContent .qualif h2 {
  font-size: 22px;
}
#qualifContent .qualif span {
  border-color: var(--lightgrey-bg);
  margin-bottom: 10px;
  width: 80%;
}
#qualifContent .qualif p {
  margin-bottom: 10px;
}
#qualifContent .qualifText {
  display: flex;
  min-height: 170px;
  justify-content: center;
  flex-direction: column;
}

.timeLine {
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--verylightgrey-bg);
  border-radius: 20px;
}

#portfolioScreen {
  background-size: cover;
  background-color: var(--lightgrey-bg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 60px;
}

#portfolioNav ul li {
  background-color: white;
  font-size: large;
}
#portfolioNav .selected_btn {
  border-color: black !important;
}

.portfolioCard {
  background: rgba(240, 240, 240, 0.8);
  border-radius: 20px;
  margin: 10px auto;
  width: 268px;
  height: 380px;
  padding-bottom: 1px;
  position: relative;
}
.portfolioCard:hover .portfolioCard-content {
  transform: rotateY(180deg);
  background-color: rgba(240, 240, 240, 0.8)
}
.portfolioCard:hover .flip-content {
  background-color: rgba(240, 240, 240, 0.8);
}

.portfolioCard-header {
  text-align: center;
  padding: 10px 0;
}
.portfolioCard-header h2 {
  font-size: 22px;
  margin: 0;
}

.portfolioCard-spacer {
  border-bottom: solid 2px var(--darkgrey-bg);
  margin: auto;
  width: 70%;
  display: block;
}

.portfolioCard-footer-list {
  text-align: center;
}
.portfolioCard-footer-list > li {
  display: inline-block;
  border-radius: 20px;
  padding: 2px 3px;
  margin: 2px 0;
  font-size: 13px;
}

.htmlCaps {
  border: solid 2px rgb(251, 150, 150);
}

.phpCaps {
  border: solid 2px rgb(158, 171, 255);
}

.sqlCaps {
  border: solid 2px rgb(150, 251, 244);
}

.wpCaps {
  border: solid 2px rgb(251, 150, 241);
}

.jsCaps {
  border: solid 2px rgb(134, 177, 141);
}

.stencilCaps {
  border: solid 2px rgb(157, 118, 154);
}

.portfolioCard-content {
  width: 100%;
  height: 268px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: rgba(240, 240, 240, 0.8)
}

#infomaniakPic {
  width: 170px;
  height: auto;
}

.flip-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  
}
.flip-image > img {
  width: 90%;
  height: 90%;
  margin: auto;
}

.flip-content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}
.flip-content > div {
  font-size: 13px;
  margin: auto 3px;
  text-align: center;
}

#first_ref_pic {
  background: url("../images/Bouchon.jpg");
  background-size: cover;
  background-position: -50px;
  background-color: var(--lightgrey-bg);
  border: solid 2px var(--darkgrey-bg);
}

#scdn_ref_pic {
  background: url("../images/Colin.jpg");
  background-size: cover;
  background-position: -40px;
  background-color: var(--lightgrey-bg);
  border: solid 2px var(--darkgrey-bg);
}

.ref_side {
  margin: 25px 0;
}

.ref_description {
  background-color: var(--verylightgrey-bg);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.ref_description h2 {
  border-bottom: solid 2px var(--darkgrey-bg);
}

.mail_ref {
  margin-top: 10px;
}

#contactScreen {
  background-color: var(--lightgrey-bg);
}

#getintouch {
  font-size: larger;
  margin-bottom: 15px;
}

#contact_form {
  text-align: center;
}
#contact_form label {
  display: block;
}
#contact_form textarea {
  width: 400px;
  border-radius: 10px;
}
#contact_form input {
  width: 400px;
}

#contact_sendBtn {
  width: 200px !important;
  position: absolute;
  top: 0;
  left: 0;
}

.input_contact {
  border: none;
  border-bottom: solid 2px var(--darkgrey-bg);
  margin-bottom: 20px;
  text-align: center;
  background-color: transparent;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

#robot_check label {
  display: inline-block;
}
#robot_check input {
  width: 40px;
  margin: 0;
}

#sendBtnContact {
  position: relative;
  left: 50%;
  margin-left: -100px;
  height: 110px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mail_alert {
  display: inline-block;
  padding: 5px 10px;
}

.alert-success:before {
  content: "✓ ";
}

#bg_contact_sendBtn {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.tenDRotated {
  transform: rotate(-10deg);
}

.contact_caps {
  margin: 30px auto;
  padding: 10px;
  border: solid 2px var(--darkgrey-bg);
  border-radius: 50px;
  background: white;
  width: 300px;
  font-size: larger;
}

.contact_caps_a {
  display: contents;
  color: #000000;
}

.contact_caps_pic {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5px;
}

.contact_caps_p {
  display: inline-block;
}

#gdpr_p {
  font-size: smaller;
  color: var(--darkgrey-bg);
  margin: 10px 10px 20px 10px;
  text-align: justify;
}

#gdpr_btn {
  display: inline-block;
}

@media (max-width: 700px) {
  #home_status {
    font-size: 4vw;
  }
  #home_name {
    font-size: 7vw;
  }
}
@media (max-width: 425px) {
  .about_p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .pic_container {
    margin: auto !important;
  }
}
@media (max-width: 750px) {
  #about_content {
    display: block;
  }
  .pic_element {
    height: 200px;
    width: 130px;
  }
  .pic_container {
    height: 200px;
    width: 130px;
    margin: auto !important;
  }
}
@media (min-width: 740px) {
  #qualifContent .qualif {
    transform: translateX(-50%);
  }
  #qualifContent .qualif:nth-child(even) {
    margin-left: 25%;
  }
  #qualifContent .qualif:nth-child(even)::before {
    transform: translate(50%, -50%);
    right: -21.5%;
  }
  #qualifContent .qualif:nth-child(odd) {
    margin-left: 75%;
  }
  #qualifContent .qualif:nth-child(odd)::before {
    transform: translate(-50%, -50%);
    left: -21.5%;
  }
  #qualifContent .qualif::before {
    content: "";
    position: absolute;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    background-color: var(--darkgrey-bg);
    top: 50%;
    border: solid 2px white;
  }
  #qualifContent .qualifDate {
    position: absolute;
    top: 60%;
    font-size: large;
    font-style: italic;
  }
  .qualif:nth-child(even) .qualifDate {
    transform: translate(50%, -50%);
    right: -21.5%;
  }
  .qualif:nth-child(odd) .qualifDate {
    transform: translate(-50%, -50%);
    left: -21.5%;
  }
}
@media (max-width: 739px) {
  .timeLine {
    display: none;
  }
  #qualifContent .qualif {
    width: 80%;
    margin: auto;
    max-width: 400px;
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  #contact_form textarea {
    width: 70%;
  }
  #contact_form input {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .contact_caps {
    width: 250px;
    font-size: initial;
  }
.carousel-inner {
  position: relative;
}

.carousel-item {
  display: none;
  position: relative;
  text-align: center;
}

.carousel-item.active {
  display: inline-block;
}

.carousel-item img {
width: 10%;
height: 10%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #888;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: #000;
}
.et_pb_widget {
  float: left;
  max-width: 100%;
  word-wrap: break-word
}

.et_pb_widget a {
  text-decoration: none;
  color: #666
}

.et_pb_widget li a:hover {
  color: #82c0c7
}

.et_pb_widget ol li,.et_pb_widget ul li {
  margin-bottom: .5em
}

.et_pb_widget ol li ol li,.et_pb_widget ul li ul li {
  margin-left: 15px
}

.et_pb_widget select {
  width: 100%;
  height: 28px;
  padding: 0 5px
}

.et_pb_widget_area .et_pb_widget a {
  color: inherit
}

.et_pb_bg_layout_light .et_pb_widget li a {
  color: #666
}

.et_pb_bg_layout_dark .et_pb_widget li a {
  color: inherit
}

.widget_search .screen-reader-text,.et_pb_widget .wp-block-search__label {
  display: none
}

.widget_search input#s,.widget_search input#searchsubmit,.et_pb_widget .wp-block-search__input,.et_pb_widget .wp-block-search__button {
  padding: .7em;
  height: 40px !important;
  margin: 0;
  font-size: 14px;
  line-height: normal !important;
  border: 1px solid #ddd;
  color: #666
}

.widget_search #s,.et_pb_widget .wp-block-search__input {
  width: 100%;
  border-radius: 3px
}

.widget_search #searchform,.et_pb_widget .wp-block-search {
  position: relative
}

.widget_search #searchsubmit,.et_pb_widget .wp-block-search__button {
  background-color: #ddd;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  right: 0;
  top: 0
}

#searchsubmit,.et_pb_widget .wp-block-search__button {
  cursor: pointer
}

.et_pb_section {
  position: relative;
  background-color: #fff;
  background-position: 50%;
  background-size: 100%;
  background-size: cover
}

.et_pb_section--absolute,.et_pb_section--fixed {
  width: 100%
}

.et_pb_section.et_section_transparent {
  background-color: transparent
}

.et_pb_fullwidth_section {
  padding: 0
}

.et_pb_fullwidth_section>.et_pb_module:not(.et_pb_post_content):not(.et_pb_fullwidth_post_content) .et_pb_row {
  padding: 0!important
}

.et_pb_inner_shadow {
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,.07);
  box-shadow: inset 0 0 7px rgba(0,0,0,.07)
}

.et_pb_bottom_inside_divider,.et_pb_top_inside_divider {
  display: block;
  background-repeat-y: no-repeat;
  height: 100%;
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 0;
  right: 0
}

.et_pb_bottom_inside_divider.et-no-transition,.et_pb_top_inside_divider.et-no-transition {
  -webkit-transition: none!important;
  transition: none!important
}

.et-fb .section_has_divider.et_fb_element_controls_visible--child>.et_pb_bottom_inside_divider,.et-fb .section_has_divider.et_fb_element_controls_visible--child>.et_pb_top_inside_divider {
  z-index: 1
}

.et_pb_section_video:not(.et_pb_section--with-menu) {
  overflow: hidden;
  position: relative
}

.et_pb_column>.et_pb_section_video_bg {
  z-index: -1
}

.et_pb_section_video_bg {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  pointer-events: none;
  -webkit-transition: display .3s;
  transition: display .3s
}

.et_pb_section_video_bg.et_pb_section_video_bg_hover,.et_pb_section_video_bg.et_pb_section_video_bg_phone,.et_pb_section_video_bg.et_pb_section_video_bg_tablet,.et_pb_section_video_bg.et_pb_section_video_bg_tablet_only {
  display: none
}

.et_pb_section_video_bg .mejs-controls,.et_pb_section_video_bg .mejs-overlay-play {
  display: none!important
}

.et_pb_section_video_bg embed,.et_pb_section_video_bg iframe,.et_pb_section_video_bg object,.et_pb_section_video_bg video {
  max-width: none
}

.et_pb_section_video_bg .mejs-video {
  left: 50%;
  position: absolute;
  max-width: none
}

.et_pb_section_video_bg .mejs-overlay-loading {
  display: none!important
}

.et_pb_social_network_link .et_pb_section_video {
  overflow: visible
}

.et_pb_section_video_on_hover:hover>.et_pb_section_video_bg {
  display: none
}

.et_pb_section_video_on_hover:hover>.et_pb_section_video_bg_hover,.et_pb_section_video_on_hover:hover>.et_pb_section_video_bg_hover_inherit {
  display: block
}

@media (min-width: 981px) {
  .et_pb_section {
      padding:4% 0
  }

  body.et_pb_pagebuilder_layout.et_pb_show_title .post-password-required .et_pb_section,body:not(.et_pb_pagebuilder_layout) .post-password-required .et_pb_section {
      padding-top: 0
  }

  .et_pb_fullwidth_section {
      padding: 0
  }

  .et_pb_section_video_bg.et_pb_section_video_bg_desktop_only {
      display: block
  }
}

@media (max-width: 980px) {
  .et_pb_section {
      padding:50px 0
  }

  body.et_pb_pagebuilder_layout.et_pb_show_title .post-password-required .et_pb_section,body:not(.et_pb_pagebuilder_layout) .post-password-required .et_pb_section {
      padding-top: 0
  }

  .et_pb_fullwidth_section {
      padding: 0
  }

  .et_pb_section_video_bg.et_pb_section_video_bg_tablet {
      display: block
  }

  .et_pb_section_video_bg.et_pb_section_video_bg_desktop_only {
      display: none
  }
}

@media (min-width: 768px) {
  .et_pb_section_video_bg.et_pb_section_video_bg_desktop_tablet {
      display:block
  }
}

@media (min-width: 768px) and (max-width:980px) {
  .et_pb_section_video_bg.et_pb_section_video_bg_tablet_only {
      display:block
  }
}

@media (max-width: 767px) {
  .et_pb_section_video_bg.et_pb_section_video_bg_phone {
      display:block
  }

  .et_pb_section_video_bg.et_pb_section_video_bg_desktop_tablet {
      display: none
  }
}

.et_pb_row {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  position: relative
}

body.safari .section_has_divider,body.uiwebview .section_has_divider {
  -webkit-perspective: 2000px;
  perspective: 2000px
}

.section_has_divider .et_pb_row {
  z-index: 5
}

.et_pb_row_inner {
  width: 100%;
  position: relative
}

.et_pb_row.et_pb_row_empty,.et_pb_row_inner:nth-of-type(n+2).et_pb_row_empty {
  display: none
}

.et_pb_row:after,.et_pb_row_inner:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0
}

.et_pb_row_4col .et-last-child,.et_pb_row_4col .et-last-child-2,.et_pb_row_6col .et-last-child,.et_pb_row_6col .et-last-child-2,.et_pb_row_6col .et-last-child-3 {
  margin-bottom: 0
}

.et_pb_column {
  float: left;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 2;
  min-height: 1px
}

.et_pb_column--with-menu {
  z-index: 3
}

.et_pb_column.et_pb_column_empty {
  min-height: 1px
}

.et_pb_row .et_pb_column.et-last-child,.et_pb_row .et_pb_column:last-child,.et_pb_row_inner .et_pb_column.et-last-child,.et_pb_row_inner .et_pb_column:last-child {
  margin-right: 0!important
}

.et_pb_column.et_pb_section_parallax {
  position: relative
}

.et_pb_column,.et_pb_row,.et_pb_row_inner {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

@media (min-width: 981px) {
  .et_pb_row {
      padding:2% 0
  }

  body.et_pb_pagebuilder_layout.et_pb_show_title .post-password-required .et_pb_row,body:not(.et_pb_pagebuilder_layout) .post-password-required .et_pb_row {
      padding: 0;
      width: 100%
  }

  .et_pb_column_3_4 .et_pb_row_inner {
      padding: 3.735% 0
  }

  .et_pb_column_2_3 .et_pb_row_inner {
      padding: 4.2415% 0
  }

  .et_pb_column_1_2 .et_pb_row_inner,.et_pb_column_3_5 .et_pb_row_inner {
      padding: 5.82% 0
  }

  .et_section_specialty>.et_pb_row {
      padding: 0
  }

  .et_pb_row_inner {
      width: 100%
  }

  .et_pb_column_single {
      padding: 2.855% 0
  }

  .et_pb_column_single .et_pb_module.et-first-child,.et_pb_column_single .et_pb_module:first-child {
      margin-top: 0
  }

  .et_pb_column_single .et_pb_module.et-last-child,.et_pb_column_single .et_pb_module:last-child {
      margin-bottom: 0
  }

  .et_pb_row .et_pb_column.et-last-child,.et_pb_row .et_pb_column:last-child,.et_pb_row_inner .et_pb_column.et-last-child,.et_pb_row_inner .et_pb_column:last-child {
      margin-right: 0!important
  }

  .et_pb_row.et_pb_equal_columns,.et_pb_row_inner.et_pb_equal_columns,.et_pb_section.et_pb_equal_columns>.et_pb_row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

  .rtl .et_pb_row.et_pb_equal_columns,.rtl .et_pb_row_inner.et_pb_equal_columns,.rtl .et_pb_section.et_pb_equal_columns>.et_pb_row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse
  }

  .et_pb_row.et_pb_equal_columns>.et_pb_column,.et_pb_section.et_pb_equal_columns>.et_pb_row>.et_pb_column {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1
  }
}

@media (max-width: 980px) {
  .et_pb_row {
      max-width:1080px
  }

  body.et_pb_pagebuilder_layout.et_pb_show_title .post-password-required .et_pb_row,body:not(.et_pb_pagebuilder_layout) .post-password-required .et_pb_row {
      padding: 0;
      width: 100%
  }

  .et_pb_column .et_pb_row_inner,.et_pb_row {
      padding: 30px 0
  }

  .et_section_specialty>.et_pb_row {
      padding: 0
  }

  .et_pb_column {
      width: 100%;
      margin-bottom: 30px
  }

  .et_pb_bottom_divider .et_pb_row:nth-last-child(2) .et_pb_column:last-child,.et_pb_row .et_pb_column.et-last-child,.et_pb_row .et_pb_column:last-child {
      margin-bottom: 0
  }

  .et_section_specialty .et_pb_row>.et_pb_column {
      padding-bottom: 0
  }

  .et_pb_column.et_pb_column_empty {
      display: none
  }

  .et_pb_row_1-2_1-4_1-4,.et_pb_row_1-2_1-6_1-6_1-6,.et_pb_row_1-4_1-4,.et_pb_row_1-4_1-4_1-2,.et_pb_row_1-5_1-5_3-5,.et_pb_row_1-6_1-6_1-6,.et_pb_row_1-6_1-6_1-6_1-2,.et_pb_row_1-6_1-6_1-6_1-6,.et_pb_row_3-5_1-5_1-5,.et_pb_row_4col,.et_pb_row_5col,.et_pb_row_6col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap
  }

  .et_pb_row_1-4_1-4>.et_pb_column.et_pb_column_1_4,.et_pb_row_1-4_1-4_1-2>.et_pb_column.et_pb_column_1_4,.et_pb_row_4col>.et_pb_column.et_pb_column_1_4 {
      width: 47.25%;
      margin-right: 5.5%
  }

  .et_pb_row_1-4_1-4>.et_pb_column.et_pb_column_1_4:nth-child(2n),.et_pb_row_1-4_1-4_1-2>.et_pb_column.et_pb_column_1_4:nth-child(2n),.et_pb_row_4col>.et_pb_column.et_pb_column_1_4:nth-child(2n) {
      margin-right: 0
  }

  .et_pb_row_1-2_1-4_1-4>.et_pb_column.et_pb_column_1_4 {
      width: 47.25%;
      margin-right: 5.5%
  }

  .et_pb_row_1-2_1-4_1-4>.et_pb_column.et_pb_column_1_2,.et_pb_row_1-2_1-4_1-4>.et_pb_column.et_pb_column_1_4:nth-child(odd) {
      margin-right: 0
  }

  .et_pb_row_1-2_1-4_1-4 .et_pb_column:nth-last-child(-n+2),.et_pb_row_1-4_1-4 .et_pb_column:nth-last-child(-n+2),.et_pb_row_4col .et_pb_column:nth-last-child(-n+2) {
      margin-bottom: 0
  }

  .et_pb_row_1-5_1-5_3-5>.et_pb_column.et_pb_column_1_5,.et_pb_row_5col>.et_pb_column.et_pb_column_1_5 {
      width: 47.25%;
      margin-right: 5.5%
  }

  .et_pb_row_1-5_1-5_3-5>.et_pb_column.et_pb_column_1_5:nth-child(2n),.et_pb_row_5col>.et_pb_column.et_pb_column_1_5:nth-child(2n) {
      margin-right: 0
  }

  .et_pb_row_3-5_1-5_1-5>.et_pb_column.et_pb_column_1_5 {
      width: 47.25%;
      margin-right: 5.5%
  }

  .et_pb_row_3-5_1-5_1-5>.et_pb_column.et_pb_column_1_5:nth-child(odd),.et_pb_row_3-5_1-5_1-5>.et_pb_column.et_pb_column_3_5 {
      margin-right: 0
  }

  .et_pb_row_3-5_1-5_1-5 .et_pb_column:nth-last-child(-n+2),.et_pb_row_5col .et_pb_column:last-child {
      margin-bottom: 0
  }

  .et_pb_row_1-6_1-6_1-6_1-2>.et_pb_column.et_pb_column_1_6,.et_pb_row_6col>.et_pb_column.et_pb_column_1_6 {
      width: 29.666%;
      margin-right: 5.5%
  }

  .et_pb_row_1-6_1-6_1-6_1-2>.et_pb_column.et_pb_column_1_6:nth-child(3n),.et_pb_row_6col>.et_pb_column.et_pb_column_1_6:nth-child(3n) {
      margin-right: 0
  }

  .et_pb_row_1-2_1-6_1-6_1-6>.et_pb_column.et_pb_column_1_6 {
      width: 29.666%;
      margin-right: 5.5%
  }

  .et_pb_row_1-2_1-6_1-6_1-6>.et_pb_column.et_pb_column_1_2,.et_pb_row_1-2_1-6_1-6_1-6>.et_pb_column.et_pb_column_1_6:last-child {
      margin-right: 0
  }

  .et_pb_row_1-2_1-2 .et_pb_column.et_pb_column_1_2,.et_pb_row_1-2_1-6_1-6_1-6 .et_pb_column:nth-last-child(-n+3),.et_pb_row_6col .et_pb_column:nth-last-child(-n+3) {
      margin-bottom: 0
  }

  .et_pb_row_1-2_1-2 .et_pb_column.et_pb_column_1_2 .et_pb_column.et_pb_column_1_6 {
      width: 29.666%;
      margin-right: 5.5%;
      margin-bottom: 0
  }

  .et_pb_row_1-2_1-2 .et_pb_column.et_pb_column_1_2 .et_pb_column.et_pb_column_1_6:last-child {
      margin-right: 0
  }

  .et_pb_row_1-6_1-6_1-6_1-6>.et_pb_column.et_pb_column_1_6 {
      width: 47.25%;
      margin-right: 5.5%
  }

  .et_pb_row_1-6_1-6_1-6_1-6>.et_pb_column.et_pb_column_1_6:nth-child(2n) {
      margin-right: 0
  }

  .et_pb_row_1-6_1-6_1-6_1-6:nth-last-child(-n+3) {
      margin-bottom: 0
  }
}

@media (max-width: 479px) {
  .et_pb_row .et_pb_column.et_pb_column_1_4,.et_pb_row .et_pb_column.et_pb_column_1_5,.et_pb_row .et_pb_column.et_pb_column_1_6 {
      width:100%;
      margin: 0 0 30px
  }

  .et_pb_row .et_pb_column.et_pb_column_1_4.et-last-child,.et_pb_row .et_pb_column.et_pb_column_1_4:last-child,.et_pb_row .et_pb_column.et_pb_column_1_5.et-last-child,.et_pb_row .et_pb_column.et_pb_column_1_5:last-child,.et_pb_row .et_pb_column.et_pb_column_1_6.et-last-child,.et_pb_row .et_pb_column.et_pb_column_1_6:last-child {
      margin-bottom: 0
  }

  .et_pb_row_1-2_1-2 .et_pb_column.et_pb_column_1_2 .et_pb_column.et_pb_column_1_6 {
      width: 100%;
      margin: 0 0 30px
  }

  .et_pb_row_1-2_1-2 .et_pb_column.et_pb_column_1_2 .et_pb_column.et_pb_column_1_6.et-last-child,.et_pb_row_1-2_1-2 .et_pb_column.et_pb_column_1_2 .et_pb_column.et_pb_column_1_6:last-child {
      margin-bottom: 0
  }

  .et_pb_column {
      width: 100%!important
  }
}

.et-menu li {
  display: inline-block;
  font-size: 14px;
  padding-right: 22px
}

.et-menu>li:last-child {
  padding-right: 0
}

.et-menu a {
  color: rgba(0,0,0,.6);
  text-decoration: none;
  display: block;
  position: relative
}

.et-menu a,.et-menu a:hover {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.et-menu a:hover {
  opacity: .7
}

.et-menu li>a {
  padding-bottom: 29px;
  word-wrap: break-word
}

a.et_pb_menu__icon,button.et_pb_menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0 11px;
  font-size: 17px;
  line-height: normal;
  background: 0 0;
  border: 0;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

a.et_pb_menu__icon:after,button.et_pb_menu__icon:after {
  font-family: ETmodules
}

a.et_pb_menu__icon__with_count:after,button.et_pb_menu__icon__with_count:after {
  margin-right: 10px
}

.et_pb_menu__wrap .mobile_menu_bar {
  -webkit-transform: translateY(3%);
  transform: translateY(3%)
}

.et_pb_menu__wrap .mobile_menu_bar:before {
  top: 0
}

.et_pb_menu__logo {
  overflow: hidden
}

.et_pb_menu__logo img {
  display: block
}

.et_pb_menu__logo img[src$=".svg"] {
  width: 100%
}

.et_pb_menu__search-button:after {
  content: "U"
}

.et_pb_menu__cart-button:after {
  content: "\E07A"
}

@media (max-width: 980px) {
  .et-menu {
      display:none
  }

  .et_mobile_nav_menu {
      display: block;
      margin-top: -1px
  }
}

.et_pb_with_border.et_pb_menu .et_pb_menu__logo img {
  border: 0 solid #333
}

.et_pb_menu.et_hover_enabled:hover {
  z-index: auto
}

.et_pb_menu .et-menu-nav,.et_pb_menu .et-menu-nav>ul {
  float: none
}

.et_pb_menu .et-menu-nav>ul {
  padding: 0!important;
  line-height: 1.7em
}

.et_pb_menu .et-menu-nav>ul ul {
  padding: 20px 0;
  text-align: left
}

.et_pb_bg_layout_dark.et_pb_menu ul li a {
  color: #fff
}

.et_pb_bg_layout_dark.et_pb_menu ul li a:hover {
  color: hsla(0,0%,100%,.8)
}

.et-menu li li.menu-item-has-children>a:first-child:after {
  top: 12px
}

.et_pb_menu .et-menu-nav>ul.upwards li ul {
  bottom: 100%;
  top: auto;
  border-top: none;
  border-bottom: 3px solid #2ea3f2;
  -webkit-box-shadow: 2px -2px 5px rgba(0,0,0,.1);
  box-shadow: 2px -2px 5px rgba(0,0,0,.1)
}

.et_pb_menu .et-menu-nav>ul.upwards li ul li ul {
  bottom: -23px
}

.et_pb_menu .et-menu-nav>ul.upwards li.mega-menu ul ul {
  bottom: 0;
  top: auto;
  border: none
}

.et_pb_menu_inner_container {
  position: relative
}

.et_pb_menu .et_pb_menu__wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  opacity: 1
}

.et_pb_menu .et_pb_menu__wrap--visible {
  -webkit-animation: fadeInBottom 1s cubic-bezier(.77,0,.175,1) 1;
  animation: fadeInBottom 1s cubic-bezier(.77,0,.175,1) 1
}

.et_pb_menu .et_pb_menu__wrap--hidden {
  opacity: 0;
  -webkit-animation: fadeOutBottom 1s cubic-bezier(.77,0,.175,1) 1;
  animation: fadeOutBottom 1s cubic-bezier(.77,0,.175,1) 1
}

.et_pb_menu .et_pb_menu__menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.et_pb_menu .et_pb_menu__menu,.et_pb_menu .et_pb_menu__menu>nav,.et_pb_menu .et_pb_menu__menu>nav>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.et_pb_menu .et_pb_menu__menu>nav>ul {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.et_pb_menu .et_pb_menu__menu>nav>ul>li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0
}

.et_pb_menu .et_pb_menu__menu>nav>ul>li.mega-menu {
  position: static
}

.et_pb_menu .et_pb_menu__menu>nav>ul>li>ul {
  top: calc(100% - 1px);
  left: 0
}

.et_pb_menu .et_pb_menu__menu>nav>ul.upwards>li>ul {
  top: auto;
  bottom: calc(100% - 1px)
}

.et_pb_menu--with-logo .et_pb_menu__menu>nav>ul>li>a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 31px 0;
  white-space: nowrap
}

.et_pb_menu--with-logo .et_pb_menu__menu>nav>ul>li>a:after {
  top: 50%!important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.et_pb_menu--without-logo .et_pb_menu__menu>nav>ul {
  padding: 0!important
}

.et_pb_menu--without-logo .et_pb_menu__menu>nav>ul>li {
  margin-top: 8px
}

.et_pb_menu--without-logo .et_pb_menu__menu>nav>ul>li>a {
  padding-bottom: 8px
}

.et_pb_menu--without-logo .et_pb_menu__menu>nav>ul.upwards>li {
  margin-top: 0;
  margin-bottom: 8px
}

.et_pb_menu--without-logo .et_pb_menu__menu>nav>ul.upwards>li>a {
  padding-top: 8px;
  padding-bottom: 0
}

.et_pb_menu--without-logo .et_pb_menu__menu>nav>ul.upwards>li>a:after {
  top: auto;
  bottom: 0
}

.et_pb_menu .et_pb_menu__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.et_pb_menu .et-menu {
  margin-left: -11px;
  margin-right: -11px
}

.et_pb_menu .et-menu>li {
  padding-left: 11px;
  padding-right: 11px
}

.et_pb_menu--style-left_aligned .et_pb_menu_inner_container,.et_pb_menu--style-left_aligned .et_pb_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.et_pb_menu--style-left_aligned .et_pb_menu__logo-wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.et_pb_menu--style-left_aligned .et_pb_menu__logo {
  margin-right: 30px
}

.rtl .et_pb_menu--style-left_aligned .et_pb_menu__logo {
  margin-right: 0;
  margin-left: 30px
}

.et_pb_menu--style-left_aligned.et_pb_text_align_center .et_pb_menu__menu>nav>ul,.et_pb_menu--style-left_aligned.et_pb_text_align_center .et_pb_menu__wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.et_pb_menu--style-left_aligned.et_pb_text_align_right .et_pb_menu__menu>nav>ul,.et_pb_menu--style-left_aligned.et_pb_text_align_right .et_pb_menu__wrap {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.et_pb_menu--style-left_aligned.et_pb_text_align_justified .et_pb_menu__menu,.et_pb_menu--style-left_aligned.et_pb_text_align_justified .et_pb_menu__menu>nav,.et_pb_menu--style-left_aligned.et_pb_text_align_justified .et_pb_menu__wrap {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.et_pb_menu--style-left_aligned.et_pb_text_align_justified .et_pb_menu__menu>nav>ul {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.et_pb_menu--style-centered .et_pb_menu__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.et_pb_menu--style-centered .et_pb_menu__logo-wrap,.et_pb_menu--style-centered .et_pb_menu__logo img {
  margin: 0 auto
}

.et_pb_menu--style-centered .et_pb_menu__menu>nav>ul,.et_pb_menu--style-centered .et_pb_menu__wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.et_pb_menu--style-inline_centered_logo .et_pb_menu_inner_container>.et_pb_menu__logo-wrap,.et_pb_menu--style-inline_centered_logo .et_pb_row>.et_pb_menu__logo-wrap {
  display: none;
  margin-bottom: 30px
}

.et_pb_menu--style-inline_centered_logo .et_pb_menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.et_pb_menu--style-inline_centered_logo .et_pb_menu__logo,.et_pb_menu--style-inline_centered_logo .et_pb_menu__logo img {
  margin: 0 auto
}

.et_pb_menu--style-inline_centered_logo .et_pb_menu__wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.et_pb_menu--style-inline_centered_logo .et_pb_menu__logo-slot {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important
}

.et_pb_menu--style-inline_centered_logo .et_pb_menu__logo-slot .et_pb_menu__logo,.et_pb_menu--style-inline_centered_logo .et_pb_menu__logo-slot .et_pb_menu__logo-wrap {
  width: 100%;
  height: 100%
}

.et_pb_menu--style-inline_centered_logo .et_pb_menu__logo-slot img {
  max-height: 100%
}

.et_pb_menu .et_pb_menu__logo-slot .et-fb-content-placeholder {
  min-width: 96px
}

.et_pb_menu .et_pb_menu__search-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999
}

.et_pb_menu .et_pb_menu__search-container--visible {
  opacity: 1;
  -webkit-animation: fadeInTop 1s cubic-bezier(.77,0,.175,1) 1;
  animation: fadeInTop 1s cubic-bezier(.77,0,.175,1) 1
}

.et_pb_menu .et_pb_menu__search-container--hidden {
  -webkit-animation: fadeOutTop 1s cubic-bezier(.77,0,.175,1) 1;
  animation: fadeOutTop 1s cubic-bezier(.77,0,.175,1) 1
}

.et_pb_menu .et_pb_menu__search-container--disabled {
  display: none
}

.et_pb_menu .et_pb_menu__search {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.et_pb_menu .et_pb_menu__search-form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.et_pb_menu .et_pb_menu__search-input {
  border: 0;
  width: 100%;
  color: #333;
  background: 0 0
}

.et_pb_menu .et_pb_menu__close-search-button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.et_pb_menu .et_pb_menu__close-search-button:after {
  content: "M";
  font-size: 1.7em
}

@media (min-width: 981px) {
  .et_dropdown_animation_fade.et_pb_menu ul li:hover>ul {
      -webkit-transition:all .2s ease-in-out;
      transition: all .2s ease-in-out
  }

  .et_dropdown_animation_slide.et_pb_menu ul li:hover>ul {
      -webkit-animation: fadeLeft .4s ease-in-out;
      animation: fadeLeft .4s ease-in-out
  }

  .et_dropdown_animation_expand.et_pb_menu ul li:hover>ul {
      -webkit-transform-origin: 0 0;
      -webkit-animation: Grow .4s ease-in-out;
      animation: Grow .4s ease-in-out;
      -webkit-backface-visibility: visible!important;
      backface-visibility: visible!important
  }

  .et_dropdown_animation_flip.et_pb_menu ul li ul li:hover>ul {
      -webkit-animation: flipInX .6s ease-in-out;
      animation: flipInX .6s ease-in-out;
      -webkit-backface-visibility: visible!important;
      backface-visibility: visible!important
  }

  .et_dropdown_animation_flip.et_pb_menu ul li:hover>ul {
      -webkit-animation: flipInY .6s ease-in-out;
      animation: flipInY .6s ease-in-out;
      -webkit-backface-visibility: visible!important;
      backface-visibility: visible!important
  }

  .et_pb_menu.et_pb_menu_fullwidth .et_pb_row {
      width: 100%;
      max-width: 100%;
      padding: 0 30px!important
  }
}

@media (max-width: 980px) {
  .et_pb_menu--style-left_aligned .et_pb_menu_inner_container,.et_pb_menu--style-left_aligned .et_pb_row {
      -webkit-box-align:center;
      -ms-flex-align: center;
      align-items: center
  }

  .et_pb_menu--style-left_aligned .et_pb_menu__wrap {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end
  }

  .et_pb_menu--style-left_aligned.et_pb_text_align_center .et_pb_menu__wrap {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
  }

  .et_pb_menu--style-left_aligned.et_pb_text_align_right .et_pb_menu__wrap {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end
  }

  .et_pb_menu--style-left_aligned.et_pb_text_align_justified .et_pb_menu__wrap {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
  }

  .et_pb_menu--style-inline_centered_logo .et_pb_menu_inner_container>.et_pb_menu__logo-wrap,.et_pb_menu--style-inline_centered_logo .et_pb_row>.et_pb_menu__logo-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center
  }

  .et_pb_menu--style-inline_centered_logo .et_pb_menu_inner_container>.et_pb_menu__logo,.et_pb_menu--style-inline_centered_logo .et_pb_row>.et_pb_menu__logo {
      margin: 0 auto
  }

  .et_pb_menu--style-inline_centered_logo .et_pb_menu__logo-slot {
      display: none
  }

  .et_pb_menu .et_pb_row {
      min-height: 81px
  }

  .et_pb_menu .et_pb_menu__menu {
      display: none
  }

  .et_pb_menu .et_mobile_nav_menu {
      float: none;
      margin: 0 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center
  }

  .et_pb_menu .et_mobile_menu {
      top: 100%;
      padding: 5%
  }

  .et_pb_menu .et_mobile_menu,.et_pb_menu .et_mobile_menu ul {
      list-style: none!important;
      text-align: left
  }

  .et_pb_menu .et_mobile_menu ul {
      padding: 0
  }

  .et_pb_menu .et_pb_mobile_menu_upwards .et_mobile_menu {
      top: auto;
      bottom: 100%
  }
}

.et_pb_text {
  word-wrap: break-word
}

.et_pb_text ol,.et_pb_text ul {
  padding-bottom: 1em
}

.et_pb_text>:last-child {
  padding-bottom: 0
}

.et_pb_text_inner {
  position: relative
}

.et_pb_bg_layout_light.et_pb_module.et_pb_button {
  color: #2ea3f2
}

.et_pb_module.et_pb_button {
  display: inline-block;
  color: inherit
}

.et_pb_button_module_wrapper.et_pb_button_alignment_left {
  text-align: left
}

.et_pb_button_module_wrapper.et_pb_button_alignment_right {
  text-align: right
}

.et_pb_button_module_wrapper.et_pb_button_alignment_center {
  text-align: center
}

.et_pb_button_module_wrapper>a {
  display: inline-block
}

@media (max-width: 980px) {
  .et_pb_button_module_wrapper.et_pb_button_alignment_tablet_left {
      text-align:left
  }

  .et_pb_button_module_wrapper.et_pb_button_alignment_tablet_right {
      text-align: right
  }

  .et_pb_button_module_wrapper.et_pb_button_alignment_tablet_center {
      text-align: center
  }
}

@media (max-width: 767px) {
  .et_pb_button_module_wrapper.et_pb_button_alignment_phone_left {
      text-align:left
  }

  .et_pb_button_module_wrapper.et_pb_button_alignment_phone_right {
      text-align: right
  }

  .et_pb_button_module_wrapper.et_pb_button_alignment_phone_center {
      text-align: center
  }
}

.et_pb_button[data-icon]:not([data-icon=""]):after {
  content: attr(data-icon)
}

@media (max-width: 980px) {
  .et_pb_button[data-icon-tablet]:not([data-icon-tablet=""]):after {
      content:attr(data-icon-tablet)
  }
}

@media (max-width: 767px) {
  .et_pb_button[data-icon-phone]:not([data-icon-phone=""]):after {
      content:attr(data-icon-phone)
  }
}

.et_pb_with_border .et-pb-icon,.et_pb_with_border .et_pb_image_wrap {
  border: 0 solid #333
}

.et_pb_blurb_content {
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  width: 100%
}

.et_pb_blurb.et_pb_text_align_left .et_pb_blurb_content .et_pb_blurb_container {
  text-align: left
}

.et_pb_blurb.et_pb_text_align_right .et_pb_blurb_content .et_pb_blurb_container {
  text-align: right
}

.et_pb_blurb.et_pb_text_align_justified .et_pb_blurb_content .et_pb_blurb_container {
  text-align: justify
}

.et_pb_blurb.et_pb_text_align_center .et_pb_blurb_content .et_pb_blurb_container {
  text-align: center
}

.et_pb_blurb_content p:last-of-type {
  padding-bottom: 0
}

.et_pb_blurb .et_pb_module_header a,.et_pb_blurb h4 a {
  text-decoration: none
}

.et_pb_blurb .et_pb_image_wrap {
  display: block;
  margin: auto
}

.et_pb_main_blurb_image img {
  border-radius: inherit
}

.et_pb_main_blurb_image img[src*=".svg"] {
  width: auto
}

.et_pb_sticky_module .et_pb_main_blurb_image .et_pb_image_wrap {
  width: 100%;
  max-width: 100%
}

.et_pb_blurb_position_left .et_pb_blurb_content,.et_pb_blurb_position_right .et_pb_blurb_content {
  display: table
}

.et_pb_blurb_position_left .et_pb_main_blurb_image,.et_pb_blurb_position_right .et_pb_main_blurb_image {
  width: 32px;
  display: table-cell;
  line-height: 0
}

.et_pb_blurb_position_left .et_pb_main_blurb_image img,.et_pb_blurb_position_right .et_pb_main_blurb_image img {
  width: inherit
}

.et_pb_blurb_position_left .et-pb-icon,.et_pb_blurb_position_right .et-pb-icon {
  font-size: 32px
}

.et_pb_blurb_position_right .et-pb-icon {
  display: table-cell
}

.et_pb_blurb_position_left .et_pb_blurb_container,.et_pb_blurb_position_right .et_pb_blurb_container {
  display: table-cell;
  vertical-align: top
}

.et_pb_blurb_position_left .et_pb_blurb_container {
  padding-left: 15px
}

.et_pb_blurb_position_left .et_pb_blurb_content {
  text-align: left
}

.et_pb_blurb_position_right .et_pb_blurb_container {
  padding-right: 15px
}

.et_pb_blurb_position_right .et_pb_blurb_content {
  text-align: right
}

.et_pb_blurb_position_right .et_pb_main_blurb_image {
  left: auto;
  right: 0
}

.et_pb_blurb_position_right .et-pb-icon {
  margin-right: 0;
  margin-left: 20px
}

.et_pb_main_blurb_image {
  display: inline-block;
  margin-bottom: 30px;
  line-height: 0;
  max-width: 100%
}

@media (max-width: 980px) {
  .et_pb_blurb_position_left_tablet .et_pb_main_blurb_image,.et_pb_blurb_position_right_tablet .et_pb_main_blurb_image {
      width:32px;
      display: table-cell;
      line-height: 0
  }

  .et_pb_blurb_position_left_tablet .et_pb_main_blurb_image img,.et_pb_blurb_position_right_tablet .et_pb_main_blurb_image img {
      width: inherit
  }

  .et_pb_blurb_position_left_tablet .et-pb-icon,.et_pb_blurb_position_right_tablet .et-pb-icon {
      font-size: 32px;
      display: table-cell
  }

  .et_pb_blurb_position_left_tablet .et_pb_blurb_container,.et_pb_blurb_position_right_tablet .et_pb_blurb_container {
      display: table-cell;
      vertical-align: top
  }

  .et_pb_blurb_position_left_tablet .et_pb_blurb_container {
      padding-left: 15px
  }

  .et_pb_blurb_position_left_tablet .et_pb_blurb_content {
      text-align: left
  }

  .et_pb_blurb_position_right_tablet .et_pb_blurb_container {
      padding-right: 15px
  }

  .et_pb_blurb_position_right_tablet .et_pb_blurb_content {
      padding-right: 52px;
      text-align: right
  }

  .et_pb_blurb_position_right_tablet .et_pb_main_blurb_image {
      left: auto;
      right: 0
  }

  .et_pb_blurb_position_right_tablet .et-pb-icon {
      margin-right: 0;
      margin-left: 20px
  }

  .et_pb_blurb_position_top_tablet .et_pb_main_blurb_image {
      display: block;
      width: auto
  }

  .et_pb_blurb_position_top_tablet .et-pb-icon {
      font-size: 96px;
      display: initial
  }

  .et_pb_blurb_position_top_tablet .et_pb_blurb_container {
      display: block;
      padding-left: 0;
      padding-right: 0
  }

  .et_pb_blurb_position_top_tablet .et_pb_blurb_content {
      display: inline-block;
      text-align: center;
      padding-right: 0
  }
}

@media (max-width: 767px) {
  .et_pb_blurb_position_left_phone .et_pb_main_blurb_image,.et_pb_blurb_position_right_phone .et_pb_main_blurb_image {
      width:32px;
      display: table-cell;
      line-height: 0
  }

  .et_pb_blurb_position_left_phone .et_pb_main_blurb_image img,.et_pb_blurb_position_right_phone .et_pb_main_blurb_image img {
      width: inherit
  }

  .et_pb_blurb_position_left_phone .et-pb-icon,.et_pb_blurb_position_right_phone .et-pb-icon {
      font-size: 32px;
      display: table-cell
  }

  .et_pb_blurb_position_left_phone .et_pb_blurb_container,.et_pb_blurb_position_right_phone .et_pb_blurb_container {
      display: table-cell;
      vertical-align: top
  }

  .et_pb_blurb_position_left_phone .et_pb_blurb_container {
      padding-left: 15px
  }

  .et_pb_blurb_position_left_phone .et_pb_blurb_content {
      text-align: left
  }

  .et_pb_blurb_position_right_phone .et_pb_blurb_container {
      padding-right: 15px
  }

  .et_pb_blurb_position_right_phone .et_pb_blurb_content {
      padding-right: 52px;
      text-align: right
  }

  .et_pb_blurb_position_right_phone .et_pb_main_blurb_image {
      left: auto;
      right: 0
  }

  .et_pb_blurb_position_right_phone .et-pb-icon {
      margin-right: 0;
      margin-left: 20px
  }

  .et_pb_blurb_position_top_phone .et_pb_main_blurb_image {
      display: block;
      width: auto
  }

  .et_pb_blurb_position_top_phone .et-pb-icon {
      font-size: 96px;
      display: initial
  }

  .et_pb_blurb_position_top_phone .et_pb_blurb_container {
      display: block;
      padding-left: 0;
      padding-right: 0
  }

  .et_pb_blurb_position_top_phone .et_pb_blurb_content {
      display: inline-block;
      text-align: center;
      padding-right: 0
  }
}

@media (max-width: 980px) {
  .et_pb_blurb.et_pb_text_align_left-tablet .et_pb_blurb_content .et_pb_blurb_container {
      text-align:left
  }

  .et_pb_blurb.et_pb_text_align_right-tablet .et_pb_blurb_content .et_pb_blurb_container {
      text-align: right
  }

  .et_pb_blurb.et_pb_text_align_justified-tablet .et_pb_blurb_content .et_pb_blurb_container {
      text-align: justify
  }

  .et_pb_blurb.et_pb_text_align_center-tablet .et_pb_blurb_content .et_pb_blurb_container {
      text-align: center
  }
}

@media (max-width: 767px) {
  .et_pb_blurb.et_pb_text_align_left-phone .et_pb_blurb_content .et_pb_blurb_container {
      text-align:left
  }

  .et_pb_blurb.et_pb_text_align_right-phone .et_pb_blurb_content .et_pb_blurb_container {
      text-align: right
  }

  .et_pb_blurb.et_pb_text_align_justified-phone .et_pb_blurb_content .et_pb_blurb_container {
    text-align: justify
  }

  .et_pb_blurb.et_pb_text_align_center-phone .et_pb_blurb_content .et_pb_blurb_container {
      text-align: center
  }
}


}/*# sourceMappingURL=style.css.map */
